<!-- components/kv-form-check/Form-switch.html -->
<div class="row">
    <div class="col-6">
        <label class="kv-form-check kv-form-switch">
          <input class="kv-form-check-input" type="checkbox">
          <span class="kv-form-check-text">Default switch checkbox input</span>
        </label>
        <label class="kv-form-check kv-form-switch">
          <input class="kv-form-check-input" type="checkbox" checked>
          <span class="kv-form-check-text">Default switch checkbox input</span>
        </label>
        <label class="kv-form-check kv-form-switch">
          <input class="kv-form-check-input" type="checkbox" disabled>
          <span class="kv-form-check-text">Default switch checkbox input</span>
        </label>
        
        <label class="kv-form-check kv-form-switch kv-form-switch-lg">
          <input class="kv-form-check-input" type="checkbox">
          <span class="kv-form-check-text">Default switch checkbox input</span>
        </label>
        <label class="kv-form-check kv-form-switch kv-form-switch-lg">
          <input class="kv-form-check-input" type="checkbox" checked>
          <span class="kv-form-check-text">Default switch checkbox input</span>
        </label>
        <label class="kv-form-check kv-form-switch kv-form-switch-lg">
          <input class="kv-form-check-input" type="checkbox" checked disabled>
          <span class="kv-form-check-text">Default switch checkbox input</span>
        </label>
    </div>
    <div class="col-6">
        <label class="kv-form-check kv-form-switch kv-form-check-reverse">
          <input class="kv-form-check-input" type="checkbox">
          <span class="kv-form-check-text">Default switch checkbox input</span>
        </label>
        <label class="kv-form-check kv-form-switch kv-form-switch-lg kv-form-check-reverse">
          <input class="kv-form-check-input" type="checkbox">
          <span class="kv-form-check-text">Default switch checkbox input</span>
        </label>
    </div>
</div>