<!-- components/kv-form-check/radio.html -->
<div class="form-group">
    <h4>Radio block</h4>
    <label class="kv-form-check">
        <input class="kv-form-check-input" type="radio" name="exampleRadios" value="option1" checked="">
        <span class="kv-form-check-text">Checked radio</span>
    </label>
    <label class="kv-form-check">
        <input class="kv-form-check-input" type="radio" name="exampleRadios" value="option2">
        <span class="kv-form-check-text">Default radio</span>
    </label>
    <label class="kv-form-check">
        <input class="kv-form-check-input" type="radio" name="exampleRadios" value="option3" disabled="">
        <span class="kv-form-check-text">Disabled radio</span>
    </label>
    <label class="kv-form-check kv-form-check-only">
        <input class="kv-form-check-input" type="radio" name="exampleRadios" value="option3">
        <span class="kv-form-check-text"></span>
    </label>
</div>
<div class="form-group">
    <h4>Radio inline</h4>
    <label class="kv-form-check kv-form-check-inline">
        <input class="kv-form-check-input" type="radio" name="exampleRadios2" value="option1" checked="">
        <span class="kv-form-check-text">Checked radio</span>
    </label>
    <label class="kv-form-check kv-form-check-inline">
        <input class="kv-form-check-input" type="radio" name="exampleRadios2" value="option2">
        <span class="kv-form-check-text">Default radio</span>
    </label>
    <label class="kv-form-check kv-form-check-inline">
        <input class="kv-form-check-input" type="radio" name="exampleRadios2" value="option3" disabled="">
        <span class="kv-form-check-text">Disabled radio</span>
    </label>
</div>