<!-- components/Buttons/Button-colors.html -->
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <button type="button" class="kv-btn kv-btn-primary"><i class="far fa-plus icon-btn"></i><span>btn-primary</span></button>
            <button type="button" class="kv-btn kv-btn-gray"><i class="far fa-ban icon-btn"></i><span>btn-gray</span></button>
            <button type="button" class="kv-btn kv-btn-success"><i class="far fa-pen icon-btn"></i><span>btn-success</span></button>
            <button type="button" class="kv-btn kv-btn-danger"><i class="far fa-trash-alt icon-btn"></i><span>btn-danger</span></button>
        </div>
        <div class="form-group">
            <button type="button" class="kv-btn kv-btn-outline-primary"><i class="far fa-plus icon-btn"></i><span>btn-outline-primary</span></button>
            <button type="button" class="kv-btn kv-btn-outline-gray"><i class="far fa-ban icon-btn"></i><span>btn-outline-gray</span></button>
            <button type="button" class="kv-btn kv-btn-outline-success"><i class="far fa-pen icon-btn"></i><span>btn-outline-success</span></button>
            <button type="button" class="kv-btn kv-btn-outline-danger"><i class="far fa-trash-alt icon-btn"></i><span>btn-outline-danger</span></button>
        </div>
        <div class="form-group">
            <button type="button" class="kv-btn kv-btn-light-primary"><i class="far fa-plus icon-btn"></i><span>btn-light-primary</span></button>
            <button type="button" class="kv-btn kv-btn-light-gray"><i class="far fa-ban icon-btn"></i><span>btn-light-gray</span></button>
            <button type="button" class="kv-btn kv-btn-light-success"><i class="far fa-pen icon-btn"></i><span>btn-light-success</span></button>
            <button type="button" class="kv-btn kv-btn-light-danger"><i class="far fa-trash-alt icon-btn"></i><span>btn-light-danger</span></button>
        </div>
        <div class="form-group">
            <button type="button" class="kv-btn kv-btn-text-primary"><i class="far fa-plus icon-btn"></i><span>btn-text-primary</span></button>
            <button type="button" class="kv-btn kv-btn-text-gray"><i class="far fa-ban icon-btn"></i><span>btn-text-gray</span></button>
            <button type="button" class="kv-btn kv-btn-text-success"><i class="far fa-pen icon-btn"></i><span>btn-text-success</span></button>
            <button type="button" class="kv-btn kv-btn-text-danger"><i class="far fa-trash-alt icon-btn"></i><span>btn-text-danger</span></button>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-gray"><i class="far fa-trash-alt icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-primary"><i class="far fa-pen icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-circle kv-btn-success"><i class="far fa-plus icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-circle kv-btn-danger"><i class="far fa-times icon-btn"></i></button>
        </div>
        <div class="form-group">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-outline-gray"><i class="far fa-trash-alt icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-outline-primary"><i class="far fa-pen icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-circle kv-btn-outline-success"><i class="far fa-plus icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-circle kv-btn-outline-danger"><i class="far fa-times icon-btn"></i></button>
        </div>
        <div class="form-group">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-light-gray"><i class="far fa-trash-alt icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-light-primary"><i class="far fa-pen icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-circle kv-btn-light-success"><i class="far fa-plus icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-circle kv-btn-light-danger"><i class="far fa-times icon-btn"></i></button>
        </div>
        <div class="form-group">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-text-gray"><i class="far fa-trash-alt icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-text-primary"><i class="far fa-pen icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-circle kv-btn-text-success"><i class="far fa-plus icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-circle kv-btn-text-danger"><i class="far fa-times icon-btn"></i></button>
        </div>
    </div>
</div>
