<!-- components/Buttons/Button-styles.html -->
<div class="form-group">
    <button type="button" class="kv-btn kv-btn-primary">btn-primary</button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-primary">btn-primary</button>
    <button type="button" class="kv-btn kv-btn-primary"><i class="far fa-search icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-primary"><i class="far fa-search icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-icon-only kv-btn-primary"><i class="far fa-plus icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-icon-only kv-btn-primary"><i class="far fa-plus icon-btn"></i></button>
    <button disabled="disabled" type="button" class="kv-btn kv-btn-primary">btn-primary</button>
</div>
<div class="form-group">
    <button type="button" class="kv-btn kv-btn-outline-primary">btn-outline-primary</button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-outline-primary">btn-outline-primary</button>
    <button type="button" class="kv-btn kv-btn-outline-primary"><i class="far fa-search icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-outline-primary"><i class="far fa-search icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-icon-only kv-btn-outline-primary"><i class="far fa-plus icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-icon-only kv-btn-outline-primary"><i class="far fa-plus icon-btn"></i></button>
    <button disabled="disabled" type="button" class="kv-btn kv-btn-outline-primary">btn-outline-primary</button>
</div>
<div class="form-group">
    <button type="button" class="kv-btn kv-btn-light-primary">btn-light-primary</button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-light-primary">btn-light-primary</button>
    <button type="button" class="kv-btn kv-btn-light-primary"><i class="far fa-search icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-light-primary"><i class="far fa-search icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-icon-only kv-btn-light-primary"><i class="far fa-plus icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-icon-only kv-btn-light-primary"><i class="far fa-plus icon-btn"></i></button>
    <button disabled="disabled" type="button" class="kv-btn kv-btn-light-primary">btn-light-primary</button>
</div>
<div class="form-group">
    <button type="button" class="kv-btn kv-btn-text-primary">btn-text-primary</button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-text-primary">btn-text-primary</button>
    <button type="button" class="kv-btn kv-btn-text-primary"><i class="far fa-search icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-text-primary"><i class="far fa-search icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-icon-only kv-btn-text-primary"><i class="far fa-plus icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-icon-only kv-btn-text-primary"><i class="far fa-plus icon-btn"></i></button>
    <button disabled="disabled" type="button" class="kv-btn kv-btn-text-primary">btn-text-primary</button>
</div>
<div class="form-group">
    <button type="button" class="kv-btn kv-btn-link">btn-link</button>
    <button type="button" class="kv-btn kv-btn-link"><i class="far fa-search icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-icon-only kv-btn-link"><i class="far fa-plus icon-btn"></i></button>
    <button disabled="disabled" type="button" class="kv-btn kv-btn-link">btn-link</button>
</div>
