<!-- components/Buttons/Button-group.html -->
<div class="form-group kv-btn-group">
    <button type="button" class="kv-btn kv-btn-primary"><i class="far fa-plus icon-btn"></i><span>btn-primary</span></button>
    <button type="button" class="kv-btn kv-btn-gray"><i class="far fa-ban icon-btn"></i><span>btn-gray</span></button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-success"><i class="far fa-pen icon-btn"></i><span><span>btn-success</span></button>
    <button type="button" class="kv-btn kv-btn-circle kv-btn-danger"><i class="far fa-trash-alt icon-btn"></i><span>btn-danger</span></button>
    <button type="button" class="kv-btn kv-btn-icon-only kv-btn-primary"><i class="far fa-pen icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-warning">btn-warning</button>
</div>
<div class="form-group kv-btn-group">
    <button type="button" class="kv-btn kv-btn-outline-primary"><i class="far fa-plus icon-btn"></i><span>btn-primary</span></button>
    <button type="button" class="kv-btn kv-btn-outline-gray"><i class="far fa-ban icon-btn"></i><span>btn-gray</span></button>
    <button type="button" class="kv-btn kv-btn-outline-success"><i class="far fa-pen icon-btn"></i><span>btn-success</span></button>
    <button type="button" class="kv-btn kv-btn-outline-danger"><i class="far fa-trash-alt icon-btn"></i><span>btn-danger</span></button>
    <button type="button" class="kv-btn kv-btn-icon-only kv-btn-outline-primary"><i class="far fa-pen icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-outline-warning">btn-warning</button>
</div>