<!-- components/Buttons/Button-change-status.html -->
<div class="form-group">
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-primary">hover-primary</button>
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-outline-primary">hover-outline-primary</button>
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-light-primary">hover-light-primary</button>
</div>
<div class="form-group">
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-success">hover-success</button>
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-outline-success">hover-outline-success</button>
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-light-success">hover-light-success</button>
</div>
<div class="form-group">
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-warning">hover-warning</button>
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-outline-warning">hover-outline-warning</button>
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-light-warning">hover-light-warning</button>
</div>
<div class="form-group">
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-danger">hover-danger</button>
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-outline-danger">hover-outline-danger</button>
    <button type="button" class="kv-btn kv-btn-light-gray kv-hover-light-danger">hover-light-danger</button>
</div>