<!-- components/Buttons/Button-block.html -->
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <button type="button" class="kv-btn kv-btn-block kv-btn-primary"><i class="far fa-plus icon-btn"></i><span>btn-primary</span></button>
            <button type="button" class="kv-btn kv-btn-block kv-btn-gray"><i class="far fa-ban icon-btn"></i><span>btn-gray</span></button>
            <button type="button" class="kv-btn kv-btn-block kv-btn-success"><i class="far fa-pen icon-btn"></i><span>btn-success</span></button>
            <button type="button" class="kv-btn kv-btn-block kv-btn-danger"><i class="far fa-trash-alt icon-btn"></i><span>btn-danger</span></button>
        </div>
    </div>
</div>