<!-- components/Buttons/Button-types.html -->
<div class="form-group">
    <button type="button" class="kv-btn kv-btn-primary">btn-primary</button>
    <button type="button" class="kv-btn kv-btn-primary"><i class="far fa-plus icon-btn"></i><span>btn-primary</span></button>
    <button type="button" class="kv-btn kv-btn-primary"><span>btn-primary</span><i class="far fa-plus icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-primary"><i class="far fa-search icon-btn"></i></button>
    <button type="button" class="kv-btn kv-btn-icon-only kv-btn-primary"><i class="far fa-plus icon-btn"></i></button>
    <button disabled="disabled" type="button" class="kv-btn kv-btn-primary">btn-primary</button>
</div>