<!-- components/Pagination/Pagination-sizes.html -->
<div class="form-group">
    <ul class="kv-pagination kv-pagination-sm">
        <li><a class="kv-page-item" disabled><i class="far fa-angle-double-left"></i></a></li>
        <li><a class="kv-page-item" disabled><i class="far fa-angle-left"></i></a></li>
        <li><a class="kv-page-item current">1</a></li>
        <li><a class="kv-page-item">2</a></li>
        <li><a class="kv-page-item">3</a></li>
        <li><a class="kv-page-item">4</a></li>
        <li><a class="kv-page-item">5</a></li>
        <li><a class="kv-page-item"><i class="far fa-angle-right"></i></a></li>
        <li><a class="kv-page-item"><i class="far fa-angle-double-right"></i></a></li>
    </ul>
</div>
<div class="form-group">
    <ul class="kv-pagination kv-pagination-lg">
        <li><a class="kv-page-item" disabled><i class="far fa-angle-double-left"></i></a></li>
        <li><a class="kv-page-item" disabled><i class="far fa-angle-left"></i></a></li>
        <li><a class="kv-page-item current">1</a></li>
        <li><a class="kv-page-item">2</a></li>
        <li><a class="kv-page-item">3</a></li>
        <li><a class="kv-page-item">4</a></li>
        <li><a class="kv-page-item">5</a></li>
        <li><a class="kv-page-item"><i class="far fa-angle-right"></i></a></li>
        <li><a class="kv-page-item"><i class="far fa-angle-double-right"></i></a></li>
    </ul>
</div>