//@import "normalize";
@import "prism";
@import "spectrum-picker";
@import "bootstrap/bootstrap";
#atomsWrap{
  @import "utilities/utilities";
  @import "atoms/atoms";
  @import "molecules/molecules";
  @import "organisms/organisms";
  @import "cleanup";

}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.btn { margin: 0 5px 5px 0;}







