<!-- components/Tags/Tag-styles.html -->
<div class="row">
    <div class="col-8">
        <h4>Tag color</h4>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-primary"><span>tag primary lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-primary">tag primary lg</span>
            <span class="kv-tag kv-tag-primary">tag primary</span>
            <span class="kv-tag kv-tag-sm kv-tag-primary">tag primary sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-secondary"><span>tag secondary lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-secondary">tag secondary lg</span>
            <span class="kv-tag kv-tag-secondary">tag secondary</span>
            <span class="kv-tag kv-tag-sm kv-tag-secondary">tag secondary sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-success"><span>tag success lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-success">tag success lg</span>
            <span class="kv-tag kv-tag-success">tag success</span>
            <span class="kv-tag kv-tag-sm kv-tag-success">tag success sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-warning"><span>tag warning lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-warning">tag warning lg</span>
            <span class="kv-tag kv-tag-warning">tag warning</span>
            <span class="kv-tag kv-tag-sm kv-tag-warning">tag warning sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-danger"><span>tag danger lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-danger">tag danger lg</span>
            <span class="kv-tag kv-tag-danger">tag danger</span>
            <span class="kv-tag kv-tag-sm kv-tag-danger">tag danger sm</span>
        </div>
    </div>
    <div class="col-8">
        <h4>Tag outline color</h4>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-outline-primary"><span>tag primary lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-outline-primary">tag primary lg</span>
            <span class="kv-tag kv-tag-outline-primary">tag primary</span>
            <span class="kv-tag kv-tag-sm kv-tag-outline-primary">tag primary sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-outline-secondary"><span>tag secondary lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-outline-secondary">tag secondary lg</span>
            <span class="kv-tag kv-tag-outline-secondary">tag secondary</span>
            <span class="kv-tag kv-tag-sm kv-tag-outline-secondary">tag secondary sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-outline-success"><span>tag success lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-outline-success">tag success lg</span>
            <span class="kv-tag kv-tag-outline-success">tag success</span>
            <span class="kv-tag kv-tag-sm kv-tag-outline-success">tag success sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-outline-warning"><span>tag warning lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-outline-warning">tag warning lg</span>
            <span class="kv-tag kv-tag-outline-warning">tag warning</span>
            <span class="kv-tag kv-tag-sm kv-tag-outline-warning">tag warning sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-outline-danger"><span>tag danger lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-outline-danger">tag danger lg</span>
            <span class="kv-tag kv-tag-outline-danger">tag danger</span>
            <span class="kv-tag kv-tag-sm kv-tag-outline-danger">tag danger sm</span>
        </div>
    </div>
    <div class="col-8">
        <h4>Tag light color</h4>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-light-primary"><span>tag primary lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-light-primary">tag primary lg</span>
            <span class="kv-tag kv-tag-light-primary">tag primary</span>
            <span class="kv-tag kv-tag-sm kv-tag-light-primary">tag primary sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-light-secondary"><span>tag secondary lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-light-secondary">tag secondary lg</span>
            <span class="kv-tag kv-tag-light-secondary">tag secondary</span>
            <span class="kv-tag kv-tag-sm kv-tag-light-secondary">tag secondary sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-light-success"><span>tag success lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-light-success">tag success lg</span>
            <span class="kv-tag kv-tag-light-success">tag success</span>
            <span class="kv-tag kv-tag-sm kv-tag-light-success">tag success sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-light-warning"><span>tag warning lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-light-warning">tag warning lg</span>
            <span class="kv-tag kv-tag-light-warning">tag warning</span>
            <span class="kv-tag kv-tag-sm kv-tag-light-warning">tag warning sm</span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-lg kv-tag-light-danger"><span>tag danger lg</span><button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times icon-tag"></i></button></span>
            <span class="kv-tag kv-tag-lg kv-tag-light-danger">tag danger lg</span>
            <span class="kv-tag kv-tag-light-danger">tag danger</span>
            <span class="kv-tag kv-tag-sm kv-tag-light-danger">tag danger sm</span>
        </div>
    </div>
</div>
