<!-- components/Tags/Tag-styles.html -->
<div class="row">
        <div class="col-8">
        <div class="form-group">
            <span class="kv-tag kv-tag-primary">tag primary</span>
            <span class="kv-tag kv-tag-primary">
                <span class="tag-icon"><i class="fab fa-facebook"></i></span>
                <span>tag primary</span>
            </span>
            <span class="kv-tag kv-tag-primary">
                <span>tag primary</span>
                <button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times"></i></button>
            </span>
            <span class="kv-tag kv-tag-primary">
                <span class="tag-icon"><i class="fab fa-facebook"></i></span>
                <span>tag primary</span>
                <button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times"></i></button>
            </span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-light-primary">tag primary</span>
            <span class="kv-tag kv-tag-light-primary">
                <span class="tag-icon"><i class="fab fa-facebook"></i></span>
                <span>tag primary</span>
            </span>
            <span class="kv-tag kv-tag-light-primary">
                <span>tag primary</span>
                <button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times"></i></button>
            </span>
            <span class="kv-tag kv-tag-light-primary">
                <span class="tag-icon"><i class="fab fa-facebook"></i></span>
                <span>tag primary</span>
                <button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times"></i></button>
            </span>
        </div>
        <div class="form-group">
            <span class="kv-tag kv-tag-outline-primary">tag primary</span>
            <span class="kv-tag kv-tag-outline-primary">
                <span class="tag-icon"><i class="fab fa-facebook"></i></span>
                <span>tag primary</span>
            </span>
            <span class="kv-tag kv-tag-outline-primary">
                <span>tag primary</span>
                <button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times"></i></button>
            </span>
            <span class="kv-tag kv-tag-outline-primary">
                <span class="tag-icon"><i class="fab fa-facebook"></i></span>
                <span>tag primary</span>
                <button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only tag-icon tag-close"><i class="fal fa-times"></i></button>
            </span>
        </div>
</div>
