<!-- components/Alerts/Alert-sizes.html -->
<div class="row">
        <div class="col-8">
        <div class="form-group">
            <span class="kv-alert kv-alert-sm kv-alert-light-primary">
                <span class="alert-icon"><i class="fab fa-facebook"></i></span>
                <span>Lorem ipsum dolor sit amet. Lorem ipsum dolor</span>
                <button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only alert-icon alert-close"><i class="fal fa-times"></i></button>
            </span>
            <span class="kv-alert kv-alert-light-primary">
                <span class="alert-icon"><i class="fab fa-facebook"></i></span>
                <span>Lorem ipsum dolor sit amet. Lorem ipsum dolor</span>
                <button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only alert-icon alert-close"><i class="fal fa-times"></i></button>
            </span>
            <span class="kv-alert kv-alert-lg kv-alert-light-primary">
                <span class="alert-icon"><i class="fab fa-facebook"></i></span>
                <span>Lorem ipsum dolor sit amet. Lorem ipsum dolor</span>
                <button type="button" class="kv-btn kv-btn-xs kv-btn-icon-only alert-icon alert-close"><i class="fal fa-times"></i></button>
            </span>
        </div>
</div>