<!-- components/Colors/color-palette.html -->
    <div class="row">
    <div class="col-24 kv-d-flex">
        <div class="box-color-wrapper">
            <div class="color-primary-850"></div>
            <div class="color-primary-750"></div>
            <div class="color-primary-700"></div>
            <div class="color-primary-600"></div>
            <div class="color-primary"></div>
            <div class="color-primary-400"></div>
            <div class="color-primary-350"></div>
            <div class="color-primary-300"></div>
            <div class="color-primary-250"></div>
            <div class="color-primary-200"></div>
            <div class="color-primary-150"></div>
            <div class="color-primary-100"></div>
            <div class="color-primary-75"></div>
            <div class="color-primary-50"></div>
            <div class="color-primary-25"></div>
        </div>
        <div class="box-color-wrapper">
            <div class="color-success-850"></div>
            <div class="color-success-750"></div>
            <div class="color-success-700"></div>
            <div class="color-success-600"></div>
            <div class="color-success"></div>
            <div class="color-success-400"></div>
            <div class="color-success-350"></div>
            <div class="color-success-300"></div>
            <div class="color-success-250"></div>
            <div class="color-success-200"></div>
            <div class="color-success-150"></div>
            <div class="color-success-100"></div>
            <div class="color-success-75"></div>
            <div class="color-success-50"></div>
            <div class="color-success-25"></div>
        </div>
        <div class="box-color-wrapper">
            <div class="color-info-850"></div>
            <div class="color-info-750"></div>
            <div class="color-info-700"></div>
            <div class="color-info-600"></div>
            <div class="color-info"></div>
            <div class="color-info-400"></div>
            <div class="color-info-350"></div>
            <div class="color-info-300"></div>
            <div class="color-info-250"></div>
            <div class="color-info-200"></div>
            <div class="color-info-150"></div>
            <div class="color-info-100"></div>
            <div class="color-info-75"></div>
            <div class="color-info-50"></div>
            <div class="color-info-25"></div>
        </div>
        <div class="box-color-wrapper">
            <div class="color-warning-850"></div>
            <div class="color-warning-750"></div>
            <div class="color-warning-700"></div>
            <div class="color-warning-600"></div>
            <div class="color-warning"></div>
            <div class="color-warning-400"></div>
            <div class="color-warning-350"></div>
            <div class="color-warning-300"></div>
            <div class="color-warning-250"></div>
            <div class="color-warning-200"></div>
            <div class="color-warning-150"></div>
            <div class="color-warning-100"></div>
            <div class="color-warning-75"></div>
            <div class="color-warning-50"></div>
            <div class="color-warning-25"></div>
        </div>
        <div class="box-color-wrapper">
            <div class="color-danger-850"></div>
            <div class="color-danger-750"></div>
            <div class="color-danger-700"></div>
            <div class="color-danger-600"></div>
            <div class="color-danger"></div>
            <div class="color-danger-400"></div>
            <div class="color-danger-350"></div>
            <div class="color-danger-300"></div>
            <div class="color-danger-250"></div>
            <div class="color-danger-200"></div>
            <div class="color-danger-150"></div>
            <div class="color-danger-100"></div>
            <div class="color-danger-75"></div>
            <div class="color-danger-50"></div>
            <div class="color-danger-25"></div>
        </div>
        <div class="box-color-wrapper">
            <div class="color-gray-850"></div>
            <div class="color-gray-750"></div>
            <div class="color-gray-700"></div>
            <div class="color-gray-600"></div>
            <div class="color-gray"></div>
            <div class="color-gray-400"></div>
            <div class="color-gray-350"></div>
            <div class="color-gray-300"></div>
            <div class="color-gray-250"></div>
            <div class="color-gray-200"></div>
            <div class="color-gray-150"></div>
            <div class="color-gray-100"></div>
            <div class="color-gray-75"></div>
            <div class="color-gray-50"></div>
            <div class="color-gray-25"></div>
        </div>
        <div class="box-color-wrapper">
            <div class="color-promotion-850"></div>
            <div class="color-promotion-750"></div>
            <div class="color-promotion-700"></div>
            <div class="color-promotion-600"></div>
            <div class="color-promotion"></div>
            <div class="color-promotion-400"></div>
            <div class="color-promotion-350"></div>
            <div class="color-promotion-300"></div>
            <div class="color-promotion-250"></div>
            <div class="color-promotion-200"></div>
            <div class="color-promotion-150"></div>
            <div class="color-promotion-100"></div>
            <div class="color-promotion-75"></div>
            <div class="color-promotion-50"></div>
            <div class="color-promotion-25"></div>
        </div>
    </div>
    </div>