<!-- components/Typography/Headings.html -->
<div class="row">
    <div class="col-6">
        <h1>Heading h1</h1>
        <h2>Heading h2</h2>
        <h3>Heading h3</h3>
        <h4>Heading h4</h4>
        <h5>Heading h5</h5>
        <h6>Heading h6</h6>
    </div>
    <div class="col-6">
        <p class="kv-font-h1">Title h1</p>
        <p class="kv-font-h2">Title h2</p>
        <p class="kv-font-h3">Title h3</p>
        <p class="kv-font-h4">Title h4</p>
        <p class="kv-font-h5">Title h5</p>
        <p class="kv-font-h6">Title h6</p>
    </div>
</div>
