<!-- components/Form-controls/Form-number.html -->
<div class="row">
    <div class="col-3">
        <div class="kv-form-number">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-text-gray down"><i class="far fa-minus icon-btn"></i></button>
            <input type="text" class="kv-form-control kv-form-control-line" id="" value="" placeholder="SL">
            <span>5555</span>
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-text-gray up"><i class="far fa-plus icon-btn"></i></button>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-form-control-wrapper">
            <div class="kv-form-control-prefix">
                    <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-text-gray down"><i class="far fa-minus icon-btn"></i></button>
                </div>
                <input type="text" class="kv-form-control kv-text-center" id="" placeholder="SL">
                <div class="kv-form-control-suffix">
                    <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-text-gray up"><i class="far fa-plus icon-btn"></i></button>
                </div>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group kv-input-group">
            <button type="button" class="kv-btn kv-btn-outline-gray"><i class="far fa-minus icon-btn"></i></button>
            <input type="text" class="kv-form-control kv-text-center" id="" placeholder="SL">
            <button type="button" class="kv-btn kv-btn-outline-gray"><i class="far fa-plus icon-btn"></i></button>
        </div>
    </div>
</div>