<!-- components/Form-controls/Form.html -->
<div class="row kv-row-gutter-30">
    <div class="col-6 kv-form-labels-140">
        <div class="kv-form-row">
            <label class="kv-col-form-label">
                <i class="far fa-user icon-sm icon-mask"></i>
                <span>Mã khách hàng</span>
            </label>
            <div class="kv-col-form-control">
                <input type="text" class="kv-form-control" id="" value="" placeholder="Mã khách hàng">
            </div>
        </div>
        <div class="kv-form-row">
            <label class="kv-col-form-label">
                <i class="far fa-user icon-sm icon-mask"></i>
                <span>Tên khách hàng</span>
            </label>
            <div class="kv-col-form-control">
                <input type="text" class="kv-form-control" id="" value="" placeholder="Tên khách hàng">
            </div>
        </div>
        <div class="kv-form-row">
            <label class="kv-col-form-label">
                <i class="far fa-phone icon-sm icon-mask"></i>
                <span>Điện thoại</span>
            </label>
            <div class="kv-col-form-control">
                <input type="text" class="kv-form-control" id="" value="" placeholder="Điện thoại">
            </div>
        </div>
    </div>
    <div class="col-6 kv-form-labels-80">
        <div class="kv-form-row">
            <label class="kv-col-form-label">Địa chỉ</label>
            <div class="kv-col-form-control">
                <input type="text" class="kv-form-control" id="" value="" placeholder="Địa chỉ">
            </div>
        </div>
        <div class="kv-form-row">
            <label class="kv-col-form-label">Email</label>
            <div class="kv-col-form-control">
                <input type="text" class="kv-form-control" id="" value="" placeholder="Email">
            </div>
        </div>
        <div class="kv-form-row">
            <label class="kv-col-form-label">Nhóm</label>
            <div class="kv-col-form-control">
                <input type="text" class="kv-form-control" id="" value="" placeholder="Nhóm">
            </div>
        </div>
        <div class="kv-form-row">
            <label class="kv-col-form-label">Giới tính</label>
            <div class="kv-form-control-plaintext">
                Nữ
            </div>
        </div>
    </div>
</div>