<!-- components/Form-controls/Input-colors.html -->
<div class="row">
    <div class="col-6">
        <div class="form-group kv-form-control-wrapper">
            <div class="kv-form-control-prefix">
                <i class="far fa-search icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" value="default" id="" placeholder="placeholder">
        </div>
        <div class="form-group kv-form-control-wrapper kv-form-control-wrapper-success">
            <div class="kv-form-control-prefix">
                <i class="far fa-check-circle icon-mask kv-color-success"></i>
            </div>
            <input type="text" class="kv-form-control" value="success" id="" placeholder="placeholder">
        </div>
        <div class="form-group kv-form-control-wrapper kv-form-control-wrapper-warning">
            <div class="kv-form-control-prefix">
                <i class="far fa-exclamation-circle icon-mask kv-color-warning"></i>
            </div>
            <input type="text" class="kv-form-control" value="warning" id="" placeholder="placeholder">
        </div>
        <div class="form-group kv-form-control-wrapper kv-form-control-wrapper-danger">
            <div class="kv-form-control-prefix">
                <i class="far fa-exclamation-triangle icon-mask kv-color-danger"></i>
            </div>
            <input type="text" class="kv-form-control" value="danger" id="" placeholder="placeholder">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group kv-form-control-wrapper kv-form-control-line-wrapper">
            <div class="kv-form-control-prefix">
                <i class="far fa-search icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" value="default" id="" placeholder="placeholder">
        </div>
        <div class="form-group kv-form-control-wrapper kv-form-control-line-wrapper kv-form-control-line-wrapper-success">
            <div class="kv-form-control-prefix">
                <i class="far fa-check-circle icon-mask kv-color-success"></i>
            </div>
            <input type="text" class="kv-form-control" value="success" id="" placeholder="placeholder">
        </div>
        <div class="form-group kv-form-control-wrapper kv-form-control-line-wrapper kv-form-control-line-wrapper-warning">
            <div class="kv-form-control-prefix">
                <i class="far fa-exclamation-circle icon-mask kv-color-warning"></i>
            </div>
            <input type="text" class="kv-form-control" value="warning" id="" placeholder="placeholder">
        </div>
        <div class="form-group kv-form-control-wrapper kv-form-control-line-wrapper kv-form-control-line-wrapper-danger">
            <div class="kv-form-control-prefix">
                <i class="far fa-exclamation-triangle icon-mask kv-color-danger"></i>
            </div>
            <input type="text" class="kv-form-control" value="danger" id="" placeholder="placeholder">
        </div>
    </div>
</div>
    