<!-- components/Form-controls/Input-types.html -->
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <input type="text" class="kv-form-control" id="" value="" placeholder="placeholder">
        </div>
        <div class="form-group kv-form-control-wrapper">
            <div class="kv-form-control-prefix">
                <i class="far fa-search icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" id="" placeholder="placeholder">
            <div class="kv-form-control-suffix">
                <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-text-danger"><i class="far fa-times icon-btn"></i></button>
            </div>
        </div>
        <div class="form-group kv-form-control-wrapper">
            <div class="kv-form-control-prefix">
                <i class="far fa-search icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" id="" placeholder="placeholder">
            <div class="kv-form-control-suffix">
            <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-text-primary"><i class="far fa-pen icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-text-primary"><i class="far fa-plus icon-btn"></i></button>
            </div>
        </div>
         <div class="form-group kv-form-control-wrapper">
            <div class="kv-form-control-prefix">
                <i class="far fa-envelope icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" id="" placeholder="email">
            <div class="kv-form-control-suffix kv-color-primary">
                @citigo.com.vn
            </div>
        </div>
        <div class="form-group kv-form-control-wrapper">
            <input type="text" class="kv-form-control" id="" placeholder="placeholder">
            <div class="kv-form-control-prefix">
                <i class="fas fa-arrow-right" style="padding:0 10px"></i>
            </div>
            <input type="text" class="kv-form-control" id="" placeholder="placeholder">
            <div class="kv-form-control-suffix kv-color-primary">
                <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-text-primary"><i class="far fa-plus icon-btn"></i></button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group kv-input-group">
            <input type="text" class="kv-form-control" id="" value="" placeholder="placeholder">
            <select id="size" class="kv-form-control">
			    <option>Item 1</option>
			    <option>Item 2</option>
			    <option>Item 3</option>
			    <option>Item 4</option>
			</select>
        </div>
        <div class="form-group kv-input-group">
            <div class="kv-input-group-text">$</div>
            <input type="text" class="kv-form-control" id="" value="" placeholder="placeholder">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-primary"><i class="far fa-plus icon-btn"></i></button>
        </div>
        <div class="form-group kv-input-group">
            <div class="kv-form-control-wrapper">
                <div class="kv-form-control-prefix">
                    <i class="far fa-search icon-mask"></i>
                </div>
            <input type="text" class="kv-form-control" id="" placeholder="placeholder">
        </div>
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-outline-gray kv-hover-outline-primary"><i class="far fa-pen icon-btn"></i></button>
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-outline-gray kv-hover-outline-primary"><i class="far fa-plus icon-btn"></i></button>
        </div>
        <div class="form-group kv-input-group">
            <div class="kv-input-group-text">
                <i class="far fa-envelope icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" id="" value="" placeholder="email">
            <div class="kv-input-group-text kv-color-primary">@citigo.com.vn</div>
        </div>
        <div class="form-group kv-input-group">
            <input type="text" class="kv-form-control" id="" value="" placeholder="placeholder">
            <input type="text" class="kv-form-control" id="" value="" placeholder="placeholder">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-primary"><i class="far fa-plus icon-btn"></i></button>
        </div>
    </div>
</div>
<script>
             $(document).ready(function () {
                 $("#size").kendoDropDownList({
                    filter: "startswith"
                });
                });
        </script>