<!-- components/Form-controls/Input-sizes.html -->
<div class="row">
    <div class="col-6">
        <h5>Input large</h5>
        <div class="form-group kv-form-control-wrapper  kv-form-control-wrapper-lg">
            <div class="kv-form-control-prefix">
                <i class="far fa-search icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" id="" placeholder="kv-form-control-lg">
            <div class="kv-form-control-suffix">
            <button type="button" class="kv-btn btn-md kv-btn-icon-only kv-btn-text-primary"><i class="far fa-pen icon-btn"></i></button>
            <button type="button" class="kv-btn btn-md kv-btn-icon-only kv-btn-text-primary"><i class="far fa-plus icon-btn"></i></button>
            </div>
        </div>
        <div class="form-group kv-form-control-wrapper  kv-form-control-wrapper-lg kv-form-control-shadow-wrapper">
            <div class="kv-form-control-prefix">
                <i class="far fa-search icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" id="" placeholder="kv-form-control-lg">
            <div class="kv-form-control-suffix">
            <button type="button" class="kv-btn btn-md kv-btn-icon-only kv-btn-text-primary"><i class="far fa-pen icon-btn"></i></button>
            <button type="button" class="kv-btn btn-md kv-btn-icon-only kv-btn-text-primary"><i class="far fa-plus icon-btn"></i></button>
            </div>
        </div>
        <div class="form-group kv-form-control-wrapper kv-form-control-line-wrapper  kv-form-control-wrapper-lg">
            <div class="kv-form-control-prefix">
                <i class="far fa-search icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" id="" placeholder="kv-form-control-lg">
            <div class="kv-form-control-suffix">
            <button type="button" class="kv-btn btn-md kv-btn-icon-only kv-btn-text-primary"><i class="far fa-pen icon-btn"></i></button>
            <button type="button" class="kv-btn btn-md kv-btn-icon-only kv-btn-text-primary"><i class="far fa-plus icon-btn"></i></button>
            </div>
        </div>
    </div>
    <div class="col-5">
        <h5>Input medium</h5>
        <div class="form-group kv-form-control-wrapper">
            <div class="kv-form-control-prefix">
                <i class="far fa-search icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" id="" placeholder="kv-form-control">
            <div class="kv-form-control-suffix">
                <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-text-danger"><i class="far fa-times icon-btn"></i></button>
            </div>
        </div>
        <div class="form-group kv-form-control-wrapper kv-form-control-shadow-wrapper">
            <div class="kv-form-control-prefix">
                <i class="far fa-search icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" id="" placeholder="kv-form-control">
            <div class="kv-form-control-suffix">
                <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-text-danger"><i class="far fa-times icon-btn"></i></button>
            </div>
        </div>
        <div class="form-group kv-form-control-wrapper kv-form-control-line-wrapper">
            <div class="kv-form-control-prefix">
                <i class="far fa-search icon-mask"></i>
            </div>
            <input type="text" class="kv-form-control" id="" placeholder="kv-form-control">
            <div class="kv-form-control-suffix">
                <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-text-danger"><i class="far fa-times icon-btn"></i></button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <h5>Input small</h5>
        <div class="form-group">
            <input type="text" class="kv-form-control kv-form-control-sm" id="" placeholder="kv-form-control-sm">
        </div>
        <div class="form-group">
            <input type="text" class="kv-form-control kv-form-control-sm kv-form-control-shadow" id="" placeholder="kv-form-control-sm">
        </div>
        <div class="form-group">
            <input type="text" class="kv-form-control kv-form-control-sm kv-form-control-line" id="" placeholder="kv-form-control-sm">
        </div>
    </div>
           
</div>