<!-- components/Divider/Divider-colors.html -->
<div class="row">
    <div class="col-10">
        <div class="form-group">
            <div class="kv-divider kv-divider-primary"></div>
        </div>
        <div class="form-group">
            <div class="kv-divider kv-divider-dashed kv-divider-primary"></div>
        </div>
        <div class="form-group">
            <div class="kv-divider kv-divider-primary">
                <h6>Divider primary</h6>
            </div>
        </div>
        <div class="form-group">
            <div class="kv-divider kv-divider-success">
                <h6>Divider success</h6>
            </div>
        </div>
        <div class="form-group">
            <div class="kv-divider kv-divider-warning">
                <h6>Divider warning</h6>
            </div>
        </div>
        <div class="form-group">
            <div class="kv-divider kv-divider-danger">
                <h6>Divider danger</h6>
            </div>
        </div>
    </div>
</div>