<!-- components/Divider/Divider-styles.html -->
<div class="row kv-row-gutter-30 kv-spacer kv-spacer-xl">
    <div class="col-10">
        <h5>Divider horizontal</h5>
        <div class="form-group">
            <div class="kv-divider"></div>
        </div>
        <div class="form-group">
            <div class="kv-divider kv-divider-dashed"></div>
        </div>
        <div class="form-group">
            <div class="kv-divider">
                <h6>With text left</h6>
            </div>
        </div>
        <div class="form-group">
            <div class="kv-divider kv-divider-text-center">
                <h6>With text center</h6>
            </div>
        </div>
        <div class="form-group">
            <div class="kv-divider kv-divider-text-end">
                <h6>With text right</h6>
            </div>
        </div>
        <div class="form-group">
            <div class="kv-divider">
                <button type="button" class="kv-btn kv-btn-primary">btn-primary</button>
            </div>
        </div>
        <div class="form-group">
            <div class="kv-divider kv-divider-text-center">
                <button type="button" class="kv-btn kv-btn-primary">btn-primary</button>
            </div>
        </div>
        <div class="form-group">
            <div class="kv-divider kv-divider-text-end">
                <button type="button" class="kv-btn kv-btn-primary">btn-primary</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h5>Divider vertical</h5>
        <div class="form-group">
            <a>Home</a>
            <span class="kv-divider kv-divider-vertical"></span>
            <a>About us</a>
            <span class="kv-divider kv-divider-vertical"></span>
            <a>Products</a>
            <span class="kv-divider kv-divider-vertical"></span>
            <a>Contact us</a>
        </div>
    </div>
</div>