<!-- components/Badges/Badge-components.html -->
<div class="row" style="margin-bottom: 3rem">
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <div class="kv-avatar avatar-lg"><i class="fas fa-user avatar-icon"></i></div>
            <span class="kv-badge kv-badge-danger badge-top-left">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <div class="kv-avatar avatar-lg"><i class="fas fa-user avatar-icon"></i></div>
            <span class="kv-badge kv-badge-danger badge-bottom-left">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <div class="kv-avatar avatar-lg"><i class="fas fa-user avatar-icon"></i></div>
            <span class="kv-badge kv-badge-danger badge-top-right">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <div class="kv-avatar avatar-lg"><i class="fas fa-user avatar-icon"></i></div>
            <span class="kv-badge kv-badge-danger badge-bottom-right">99+</span>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 3rem">
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <button type="button" class="kv-btn kv-btn-light-secondary"><i class="far fa-envelope icon-btn"></i><span>Email</span></button>
            <span class="kv-badge kv-badge-sm kv-badge-primary badge-top-left">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <button type="button" class="kv-btn kv-btn-light-secondary"><i class="far fa-envelope icon-btn"></i><span>Email</span></button>
            <span class="kv-badge kv-badge-sm kv-badge-primary badge-bottom-left">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <button type="button" class="kv-btn kv-btn-light-secondary"><i class="far fa-envelope icon-btn"></i><span>Email</span></button>
            <span class="kv-badge kv-badge-sm kv-badge-primary badge-top-right">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <button type="button" class="kv-btn kv-btn-light-secondary"><i class="far fa-envelope icon-btn"></i><span>Email</span></button>
            <span class="kv-badge kv-badge-sm kv-badge-primary badge-bottom-right">99+</span>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 3rem">
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-light-secondary"><i class="far fa-envelope icon-btn"></i></button>
            <span class="kv-badge kv-badge-sm kv-badge-success badge-top-left">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-light-secondary"><i class="far fa-envelope icon-btn"></i></button>
            <span class="kv-badge kv-badge-sm kv-badge-success badge-bottom-left">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-light-secondary"><i class="far fa-envelope icon-btn"></i></button>
            <span class="kv-badge kv-badge-sm kv-badge-success badge-top-right">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <button type="button" class="kv-btn kv-btn-icon-only kv-btn-light-secondary"><i class="far fa-envelope icon-btn"></i></button>
            <span class="kv-badge kv-badge-sm kv-badge-success badge-bottom-right">99+</span>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 3rem">
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <i class="far fa-envelope" style="font-size: 2rem"></i>
            <span class="kv-badge kv-badge-dot kv-badge-success badge-top-right">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <a href="">Link alert</a>
            <span class="kv-badge kv-badge-dot kv-badge-success badge-top-right">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-light-secondary"><i class="far fa-envelope icon-btn"></i></button>
            <span class="kv-badge kv-badge-dot kv-badge-success badge-top-right">99+</span>
        </div>
    </div>
    <div class="col-3">
        <div class="kv-badge-wrapper">
            <button type="button" class="kv-btn kv-btn-sm kv-btn-icon-only kv-btn-light-secondary"><i class="far fa-envelope icon-btn"></i></button>
            <span class="kv-badge kv-badge-dot kv-badge-danger badge-top-right">99+</span>
        </div>
    </div>
</div>