<!-- components/Badges/Badge-overview.html -->
<div class="row">
    <div class="col-6">
        <h4>Badge color</h4>
        <div class="form-group">
            <span class="kv-badge kv-badge-primary">9</span>
            <span class="kv-badge kv-badge-primary">99+</span>
            <span class="kv-badge kv-badge-primary">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-primary">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-primary">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-primary">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-primary">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-secondary">9</span>
            <span class="kv-badge kv-badge-secondary">99+</span>
            <span class="kv-badge kv-badge-secondary">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-secondary">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-secondary">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-secondary">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-secondary">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-success">9</span>
            <span class="kv-badge kv-badge-success">99+</span>
            <span class="kv-badge kv-badge-success">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-success">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-success">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-success">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-success">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-warning">9</span>
            <span class="kv-badge kv-badge-warning">99+</span>
            <span class="kv-badge kv-badge-warning">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-warning">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-warning">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-warning">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-warning">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-danger">9</span>
            <span class="kv-badge kv-badge-danger">99+</span>
            <span class="kv-badge kv-badge-danger">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-danger">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-danger">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-danger">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-danger">9</span>
        </div>
    </div>
    <div class="col-6">
        <h4>Badge outline color</h4>
        <div class="form-group">
            <span class="kv-badge kv-badge-outline-primary">9</span>
            <span class="kv-badge kv-badge-outline-primary">99+</span>
            <span class="kv-badge kv-badge-outline-primary">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-primary">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-primary">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-primary">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-outline-primary">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-outline-secondary">9</span>
            <span class="kv-badge kv-badge-outline-secondary">99+</span>
            <span class="kv-badge kv-badge-outline-secondary">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-secondary">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-secondary">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-secondary">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-outline-secondary">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-outline-success">9</span>
            <span class="kv-badge kv-badge-outline-success">99+</span>
            <span class="kv-badge kv-badge-outline-success">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-success">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-success">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-success">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-outline-success">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-outline-warning">9</span>
            <span class="kv-badge kv-badge-outline-warning">99+</span>
            <span class="kv-badge kv-badge-outline-warning">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-warning">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-warning">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-warning">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-outline-warning">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-outline-danger">9</span>
            <span class="kv-badge kv-badge-outline-danger">99+</span>
            <span class="kv-badge kv-badge-outline-danger">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-danger">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-danger">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-outline-danger">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-outline-danger">9</span>
        </div>
    </div>
    <div class="col-6">
        <h4>Badge color light</h4>
        <div class="form-group">
            <span class="kv-badge kv-badge-light-primary">9</span>
            <span class="kv-badge kv-badge-light-primary">99+</span>
            <span class="kv-badge kv-badge-light-primary">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-primary">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-primary">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-primary">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-light-primary">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-light-secondary">9</span>
            <span class="kv-badge kv-badge-light-secondary">99+</span>
            <span class="kv-badge kv-badge-light-secondary">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-secondary">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-secondary">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-secondary">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-light-secondary">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-light-success">9</span>
            <span class="kv-badge kv-badge-light-success">99+</span>
            <span class="kv-badge kv-badge-light-success">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-success">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-success">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-success">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-light-success">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-light-warning">9</span>
            <span class="kv-badge kv-badge-light-warning">99+</span>
            <span class="kv-badge kv-badge-light-warning">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-warning">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-warning">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-warning">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-light-warning">9</span>
        </div>
        <div class="form-group">
            <span class="kv-badge kv-badge-light-danger">9</span>
            <span class="kv-badge kv-badge-light-danger">99+</span>
            <span class="kv-badge kv-badge-light-danger">999+</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-danger">9</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-danger">99+</span>
            <span class="kv-badge kv-badge-sm kv-badge-light-danger">999+</span>
            <span class="kv-badge kv-badge-dot kv-badge-light-danger">9</span>
        </div>
    </div>
</div>