<!-- components/Logos/Kiotviet-Software.html -->
<div class="row row-logo">
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Horizontal.svg" target="_blank" class="logo-wrapper">
            <img src="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Horizontal.svg" height="50" alt="Kiotviet-Software-Logo-Horizontal" title="Kiotviet-Software-Logo-Horizontal">
        </a>
        <span class="logo-title">Kiotviet-Software-Logo-Horizontal.svg</span>
    </div>
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Vertical.svg" target="_blank" class="logo-wrapper">
            <img src="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Vertical.svg" height="60" alt="Kiotviet-Software-Logo-Vertical" title="Kiotviet-Software-Logo-Vertical">
        </a>
        <span class="logo-title">Kiotviet-Software-Logo-Vertical</span>
    </div>
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Mark.svg" target="_blank" class="logo-wrapper">
            <img src="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Mark.svg" height="50" alt="Kiotviet-Software-Logo-Mark" title="Kiotviet-Software-Logo-Mark">
        </a>
        <span class="logo-title">Kiotviet-Software-Logo-Mark.svg</span>
    </div>
    </div>
    <div class="row row-logo">
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Vertical-White-2D.svg" target="_blank" class="logo-wrapper logo-wrapper-negative">
            <img src="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Vertical-White-2D.svg" height="50" alt="Kiotviet-Software-Logo-Vertical-White-2D" title="Kiotviet-Software-Logo-Vertical-White-2D">
        </a>
        <span class="logo-title">Kiotviet-Software-Logo-Vertical-White-2D.svg</span>
    </div>
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Vertical-White-Text.svg" target="_blank" class="logo-wrapper logo-wrapper-negative">
            <img src="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Vertical-White-Text.svg" height="50" alt="Kiotviet-Software-Logo-Vertical-White-Text" title="Kiotviet-Software-Logo-Vertical-White-Text">
        </a>
        <span class="logo-title">Kiotviet-Software-Logo-Horizontal-White-Text.svg</span>
    </div>
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Vertical-white.svg" target="_blank" class="logo-wrapper logo-wrapper-negative">
            <img src="https://logo.kiotviet.vn/Kiotviet-Software-Logo-Vertical-white.svg" height="50" alt="Kiotviet-Software-Logo-Vertical-white" title="Kiotviet-Software-Logo-Vertical-white">
        </a>
        <span class="logo-title">Kiotviet-Software-Logo-Vertical-white.svg</span>
    </div>
</div>