<!-- components/Logos/Kiotviet.html -->
<div class="row row-logo">
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/KiotViet-Logo-Horizontal.svg" target="_blank" class="logo-wrapper">
            <img src="https://logo.kiotviet.vn/KiotViet-Logo-Horizontal.svg" height="50" alt="KiotViet-Logo-Horizontal" title="KiotViet-Logo-Horizontal">
        </a>
        <span class="logo-title">KiotViet-Logo-Horizontal.svg</span>
    </div>
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/KiotViet-Logo-Horizontal-Black.svg" target="_blank" class="logo-wrapper">
            <img src="https://logo.kiotviet.vn/KiotViet-Logo-Horizontal-Black.svg" height="50" alt="KiotViet-Logo-Horizontal-Black" title="KiotViet-Logo-Horizontal-Black">
        </a>
        <span class="logo-title">KiotViet-Logo-Horizontal-Black.svg</span>
    </div>
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/KiotViet-Logo-Horizontal-White.svg" target="_blank" class="logo-wrapper logo-wrapper-negative">
            <img src="https://logo.kiotviet.vn/KiotViet-Logo-Horizontal-White.svg" height="50" alt="KiotViet-Logo-Horizontal-White" title="KiotViet-Logo-Horizontal-White">
        </a>
        <span class="logo-title">KiotViet-Logo-Horizontal-White.svg</span>
    </div>
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/KiotViet-Logo-Horizontal-White-Text.svg" target="_blank" class="logo-wrapper logo-wrapper-negative">
            <img src="https://logo.kiotviet.vn/KiotViet-Logo-Horizontal-White-Text.svg" height="50" alt="KiotViet-Logo-Horizontal-White-Text" title="KiotViet-Logo-Horizontal-White-Text">
        </a>
        <span class="logo-title">KiotViet-Logo-Horizontal-White-Text.svg</span>
    </div>
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/KiotViet-Logo-Vertical.svg" target="_blank" class="logo-wrapper">
            <img src="https://logo.kiotviet.vn/KiotViet-Logo-Vertical.svg" height="60" alt="KiotViet-Logo-Vertical" title="KiotViet-Logo-Vertical">
        </a>
        <span class="logo-title">KiotViet-Logo-Vertical.svg</span>
    </div>
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/KiotViet-Logo-Mark.svg" target="_blank" class="logo-wrapper">
            <img src="https://logo.kiotviet.vn/KiotViet-Logo-Mark.svg" height="60" alt="KiotViet-Logo-Mark" title="KiotViet-Logo-Mark">
        </a>
        <span class="logo-title">KiotViet-Logo-Mark.svg</span>
    </div>
    <div class="col-6">
        <a href="https://logo.kiotviet.vn/KiotViet-Logo-Type.svg" target="_blank" class="logo-wrapper">
            <img src="https://logo.kiotviet.vn/KiotViet-Logo-Type.svg" height="25" alt="KiotViet-Logo-Type" title="KiotViet-Logo-Type">
        </a>
        <span class="logo-title">KiotViet-Logo-Type.svg</span>
    </div>
</div>